{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["ie >= 10"]
      }
    }]
  ],
  "plugins": [
    ["babel-plugin-transform-builtin-extend", {
      globals: ["Request"]
    }]
  ]
}